<%- include('partials/_header') %>

    <!-- Add your EJS code here -->
    <table>

      <% for (var key in urls) { %>
        <tr>
          <td><a href=/urls/<%= key %>><%= key %></a> -></td>
          <td><a href=<%= urls[key] %>><%= urls[key] %></a></td>
          <td><a href=/urls/<%= key %>>Edit</a></td>
          <td><form method="POST" action=/urls/<%= key %>/delete> <button type="submit">Delete</button></form> </td>
        </tr>
      <% } %>
    </table>

    &nbsp;
    <div>
      <a href="/urls/new">Create New Link</a>
    </div>
<%- include('partials/_footer.ejs') %>
