<%- include('partials/_header') %>

    <div>
      <a href="/urls/new">Create New Link</a>
    </div>
    &nbsp;
    <table>

      <% for (var key in urls) { %>
        <tr>
          <td><a href=/u/<%= key %>><%= key %></a></td>
          <td> &#8594;</td>
          <td><a href=<%= urls[key] %>><%= urls[key] %></a></td>
          <td><a href=/urls/<%= key %>>Edit</a></td>
          <td><form method="POST" action=/urls/<%= key %>/delete> <button type="submit">Delete</button></form> </td>
        </tr>
      <% } %>
    </table>


<%- include('partials/_footer.ejs') %>
