<%- include('partials/_header') %>
  <!-- Add your EJS code here -->
  <p>
    ShortURL: <i>http://localhost:3000/u/</i><b><%= shortURL %></b>
  </p>
  <form method="POST" action=/urls/<%= shortURL %>>
    <input type="text" name="longURL" value=<%=  longURL %>>
    <button type="submit">Update</button>
  </form>
  &nbsp;&nbsp;
  <div>
    <a href="/urls">Back to browse</a>
  </div>
<%- include('partials/_footer.ejs') %>
