<%- include('partials/_header') %>
  <div>
    <a href="/urls">Back to browse</a>
  </div>
  &nbsp;&nbsp;

  <p>
    ShortURL: <i>http://localhost:3000/u/</i><b><%= link.shortURL %></b>
  </p>
  <form method="POST" action=/urls/<%= link.shortURL %>?_method=PUT>
    <input type="text" name="longURL" value=<%=  link.longURL %>>
    <button type="submit">Update</button>
  </form>
  &nbsp;&nbsp;

  <div>
    <table>
      <tr><td>Total Views:</td><td> <b><%= link.totalVisits %></b></td></tr>
      <tr><td>Unique Views:</td><td> <b><%= link.uniqueVisits %></b></td></tr>
    </table>
  </div>
  &nbsp;&nbsp;

  <table>
    <tr>
      <th>Visitor Id</th>
      <th>Timestamp</th>
    </tr>
    <% for (let key in visits) { %>
      <tr>
        <td><%= visits[key].visitorId %></td>
        <td><%= visits[key].timestamp %></td>
      </tr>
    <% }%>
  </table>
<%- include('partials/_footer') %>
